.box{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    margin: 5px;
    color: white;
    border-radius: 10px;
    
  }

  .box:hover{
    box-shadow: 1px 1px 2px black;
    transition: 150ms;
  }

  .box.box-3{
    background-color: red;
  }

  .box.box-5{
    background-color: green;
  }

  .box.box-5-3{
    background-color: gold;
  }